<div id="comment-<%= commentable.id %>">
  <div class="row" >
    <div class="col-md-1">
      <%= image_tag "icon-logo.jpg", class:"img-comment" %>
      <p class="text-secondary text-center"><%= time_ago_in_words commentable.created_at %></p>
    </div>
    <div class="col-md-10">
      <p id="name-user"><strong><%= commentable.name %></strong></p>
      <p><%= commentable.content %></p>
      <p id="delete-cmt">
        <%= content_tag(:span, "rely", class: "reply", data: "comment-#{commentable.id}") %>
        <% if current_user.id == commentable.user_id %>
          <%= link_to t('.delete'), [@movie, commentable], method: :delete, data: { confirm: t('.sure'), remote: true } %>
        <% end %>
      </p>
    </div>
  </div>
  <div id="cmt-child-<%= commentable.id %>">
    <%= render partial: "comments/child-comment", collection: commentable.comments, as: :child %>
  </div>

  <%= form_for [commentable, Comment.new], html: {class:"form-inline all-form comment-#{commentable.id}", id:"parent-cmt"}, remote: true do |f| %>
    <%= f.text_area :content, placeholder: t(".placeholder"), class: "pb-cmnt-textarea-reply", id: "comment-input-1" %>
    <%= f.submit t(".comment"), class:"btn btn-success" %>
  <% end %>
</div>
