<div class="container" id="new-form-search">
  <%= search_form_for @q, url: search_index_path, html: {method: :get} do |f| %>
    <label>
      <%= fa_icon "search" %>
      <%= f.search_field :info_movie_cont, value: params[:q][:info_movie_cont] %>
    </label>
  <% end %>
</div>

<hr id="hr">
<div class="container" id="search-container">
  <div class="row">
    <div class="col-3">
      <div class="result">
        <h5 class="align-bottom"><%= t ".search_results" %></h3>
      </div>
      <div>
        <ul class="result-count">
          <li class="selected">
            <span id="movie"><%= t ".movies" %></span>
            <span id="count"><%= @movies.count %></span>
          </li>
        </ul>
      </div>
    </div>

    <!--content-->
    <div class="col-9">
      <%= render partial: "search/movie", collection: @movies, as: :movie %>
    </div>
  </div>
</div>
