<div id="social">
  <%= link_to "#" do %>
    <%= fa_icon "list" %>
  <% end %>
  <%= link_to "#" do %>
    <%= fa_icon "heart" %>
  <% end %>
  <%= link_to "#" do %>
    <%= fa_icon "bookmark" %>
  <% end %>
  <%= link_to "#" do %>
    <%= fa_icon "star" %>
  <% end %>
</div>
