<div id="redirect">
  <%= render "shared/redirect"%>
  <span id="back">
    <%= link_to @movie.title, movie_path(@movie.slug) %>
  </span>
</div>
<div class="background_preview">
  <div class="row content_img">
    <div class="col-4 d-flex justify-content-center align-items-center">
      <%= image_tag @movie.image_url, id: "image_singlemovie" %>
    </div>
    <div class="col-8 content_text">
      <br>
      <div class="title">
        <%= link_to @movie.title, "#" %>
        <span>(<%= @movie.release_date.strftime Settings.movie.date %>)</span>
      </div>
      <div class="facts">
        <span><%= @movie.release_date %> - </span>
        <span><%= @movie.genre_name %> - </span>
        <span><%= @movie.runtime %> - </span>
        <span><%= @movie.view %></span>
        <span><%= t ".views" %></span>
      </div>

      <br>
      <%= render "social" %>
      <br>

    <div class="header_info">
      <h4><%= t ".overview" %></h4>
      <p><%= @movie.overview %></p>
      <p id="director"><%= t ".director" %></p>
      <span><%= @movie.director %></span>
    </div>
    <br>
    <div>
      <%= link_to t(".play_trailer"), "", data: {toggle: "modal", target: "#"+@movie.slug }, class:"btn btn-light play", id:"play-movie" %>
      <%= link_to t(".play_movie"), watch_path, class:"btn btn-info", id:"play-movie" %>
    </div>
  </div>
</div>

<div class="container-fluid content">
  <h4><b><%= t ".top-casts" %></b> </h4>
  <div class="row flex-nowrap">
    <%= render partial: "cast", collection: @movie.casts, as: :cast %>
  </div>
</div>
<br>

<div class="container" id="comment">
  <h3><b><%= t ".comment" %></b></h3>
  <div class="card">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag "icon-logo.jpg", class:"img-comment-first" %>
      </div>
      <div class="col-10 col-md-offset-3">
          <div class="panel panel-info">
            <div class="panel-body all-parent">
              <%= render partial: "comments/form", locals: {commentable: @movie}  %>
            </div>
          </div>
      </div>
    </div>

    <div class="card-body" id="all-parent-cmt" >
      <%= render partial: "comments/comment", collection: @movie.comments, as: :commentable %>
    </div>
  </div>
</div>

<div class="container-fluid content">
  <h4><b><%= t ".recommendations" %></b></h4>
  <div class="row flex-nowrap">
    <%= render partial: "movie", collection: @recommend.movies, as: :movie %>
  </div>
</div>
<br>

<div class="modal fade" id="<%= @movie.slug %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-dialog-centered">
      <iframe id="glassAnimalsVideo" src="<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
