<%= render "shared/redirect"%>
<span id="back">
  <%= link_to t(".signup"), new_users_path %>
</span>

<div class="container form-login">
  <div class="row d-flex justify-content-center">
    <br>
    <div class="col-6 form-sign-up">
      <h4 class="text-center"><b><%= t ".signup" %></b></h4>
      <%= form_for @user do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name, class: "control-label-required" %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email, class: "control-label-required" %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :password, class: "control-label-required" %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, class: "control-label-required" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <br>
        <div class="text-center text-bold">
          <%= f.submit t(".signup"), class: "btn btn-info font-weight-bold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
