<div class="nested-fields">
  <%= f.label :cast_name %>
  <%= f.text_field :cast_name, class: "form-control-file" %>

  <%= f.label :birthday %>
  <%= f.date_field :birthday, class: "form-control-file" %>

  <%= f.label :birthplace %>
  <%= f.text_field :birthplace, class: "form-control-file" %>

  <%= f.label :avatar %>
  <%= f.file_field :avatar, class: "form-control-file" %>

  <%= link_to_remove_association t(".remove"), f, class: "btn btn-danger" %>
</div>
