<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="row card-header">
            <div class="card-title col-11">
              <h3><%= t ".header" %></h3>
            </div>
            <div class="col-1">
              <%= link_to t(".add"), new_admin_movie_path, class: "btn btn-info" %>
            </div>
          </div>
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th id="stt">#</th>
                  <th id="title">
                    <%= t ".title" %>
                    <span id="sort-asc">
                      <%= link_to admin_movies_path(sort: "asc"), method: :get, remote: true do %>
                        <%= fa_icon "sort-asc" %>
                      <% end %>
                    </span>
                    <span id="sort-desc">
                      <%= link_to admin_movies_path(sort: "desc"), method: :get, remote: true do %>
                        <%= fa_icon "sort-desc" %>
                      <% end %>
                    </span>
                  </th>
                  <th><%= t ".image" %></th>
                  <th><%= t ".slug" %></th>
                  <th><%= t ".overview" %></th>
                  <th><%= t ".genre" %></th>
                  <th><%= t ".runtime" %></th>
                  <th><%= t ".director" %></th>
                  <th><%= t ".release_date" %></th>
                  <th><%= t ".action" %></th>
                </tr>
              </thead>
              <h5><%= t ".total" %> :<span id="total-search"><%= @movies.total_count %></span></h5>

              <tbody id="text-search">
                <%= render @movies %>
              </tbody>
            </table>
            &nbsp;
            <div class="d-flex justify-content-center" id="paginate-search" >
             <%= paginate @movies %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
