<div class="row" id="search-box" >
  <%= search_form_for @q, url: admin_movies_path, method: :get, remote: true do |f| %>
    <div class="input-group input-group-sm">
      <%= f.label :created_at_date %>
      <%= f.search_field :created_at_date_equals, type: "date", class: "created_at" %>
      <%= f.search_field :info_movie_cont, class:"form-control", placeholder: t(".info_movie") %>
      <%= f.select :status_eq, options_for_select(option_status_movie), {include_blank: t(".all"), class: "form-control"} %>

      <%= button_tag(type: "submit", class: "btn btn-info") do %>
        <%= fa_icon "search" %>
      <% end %>
    </div>
  <% end %>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="row card-header">
            <div class="card-title col-11">
              <h3><%= t ".header" %></h3>
            </div>
            <div class="col-1">
              <%= link_to t(".add"), new_admin_movie_path, class: "btn btn-info" %>
            </div>
          </div>
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th id="stt">#</th>
                  <th id="title">
                    <%= sort_link @q, :title %>
                  </th>
                  <th><%= t ".image" %></th>
                  <th><%= t ".slug" %></th>
                  <th><%= t ".overview" %></th>
                  <th><%= t ".genre" %></th>
                  <th><%= t ".runtime" %></th>
                  <th><%= t ".director" %></th>
                  <th id="release_date">
                    <%= sort_link @q, :release_date %>
                  </th>
                  <th><%= t ".action" %></th>
                </tr>
              </thead>
              <h5><%= t ".total" %> :<span id="total-search"><%= @movies.total_count %></span></h5>

              <tbody id="text-search">
                <%= render @movies %>
              </tbody>
            </table>
            &nbsp;
            <div class="d-flex justify-content-center" id="paginate-search" >
              <%= paginate @movies %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
