<div class="card mb-3" id="list-search">
  <%= link_to movie_path slug: movie.slug do %>
    <div class="row no-gutters" id="card" >
      <div class="col-md-2">
        <%= image_tag movie.image_url, class:"card-img"%>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title text-dark"><b><%= movie.title %></b></h5>
          <p class="card-text text-muted">
            <%= movie.release_date.strftime Settings.movie.date %>
          </p>
          <p class="card-text text-dark">
            <%= movie.overview %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
