<footer>
  <hr>
  <div class="container">
    <br>
    <div id="footer-icon">
      <div class="text-center">
        <%= link_to "#" do %>
          <%= fa_icon "facebook-f" %>
        <% end %>
        <%= link_to "#" do %>
          <%= fa_icon "youtube" %>
        <% end %>
        <%= link_to "#" do %>
          <%= fa_icon "twitter" %>
        <% end %>
        <%= link_to "#" do %>
          <%= fa_icon "instagram" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</footer>
